@import "../node_modules/normalize.css/normalize.css";
// @import "partials/reset";
// @import "partials/base-general";

// styles.scss

#income {
    display: block;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.due-soon {
    border: 1px solid yellow;
}

.due-today {
    border: 1px solid green;
}

.past-due {
    opacity: 0.2;
}

.future {
    opacity: 0.2;;
}